<div class="w-full max-w-screen-xl mx-auto">
  <div class="flex">
    <div class="p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800 mx-auto" id="stats" role="tabpanel" aria-labelledby="stats-tab">
      <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-4 dark:text-white sm:p-8">
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold"><%= @all_count %></dt>
          <dd class="text-gray-500 dark:text-gray-400"><%= t 'all_address_count' %></dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold"><%= (@ten_sum * 100.to_f / @all_supply).round(2) %>%</dt>
          <dd class="text-gray-500 dark:text-gray-400"><%= t 'top_10_address_count' %></dd>
        </div>

        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold"><%= (@hun_sum * 100.to_f / @all_supply).round(2) %>%</dt>
          <dd class="text-gray-500 dark:text-gray-400"><%= t 'top_100_address_count' %></dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold"><%= (@thou_sum * 100.to_f / @all_supply).round(2) %>%</dt>
          <dd class="text-gray-500 dark:text-gray-400"><%= t 'top_1000_address_count' %></dd>
        </div>
      </dl>
    </div>
  </div>


  <h4 class="text-2xl font-extrabold dark:text-white my-4"><%= t 'address_ranking' %></h4>

  <div class="relative overflow-x-auto my-4">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-2">
          <%= t 'index' %>
        </th>
        <th scope="col" class="px-6 py-2">
          <%= t 'address' %>
        </th>
        <th scope="col" class="px-6 py-2">
          <%= t 'tag' %>
        </th>
        <th scope="col" class="px-6 py-2">
          <%= t 'balance' %>
        </th>
        <th scope="col" class="px-6 py-2">
          <%= t 'percentage' %>
        </th>
      </tr>
      </thead>
      <tbody id="contract_receive_tables">
      <% @addresses.each_with_index do |address, index| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= index + 1 %>
          </td>
          <th>
            <%= link_to address.address_hash.to_s.gsub(/(.{16}).*(.{16})/, '\1...\2'), address_path(address.address_hash), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
          </th>
          <td class="">
            <% if address.tag_list.present? %>
              <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-1 text-center me-2 mb-2">
                <%= address.tag_list.join(',') %>
              </button>
            <% end %>
          </td>
          <td class="">
            <%= address.balance / 10 ** 8 %>CKB
          </td>
          <td class="">
            <%= (address.balance * 100.to_f / @all_supply).round(2) %>%
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @addresses %>
  </div>
</div>